@import url('https://fonts.cdnfonts.com/css/arcade');

:root {
    --numOfScores: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //border: 6px solid green;
    font-family: 'Arcade Normal', sans-serif;
    overflow: hidden;
}

.container.leaderboard {

    .title {
        padding-top: 7.5vh;
        padding-bottom: 7.5vh;
        font-size: 3em;
        //border: 3px solid grey;
        width: 100vw;
        text-align: center;
        background-color: black;
    }

    .table-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100vw;
        padding-bottom: 20vh;
        font-size: 1.5em;

        .col-rank {
            width: 7vw !important;
        }

        .col-name {
            width: 20vw !important;
        }

        .title-body {
            background-color: black;
            //border: 5px solid cyan;
    
            th {
                //border: 3px solid red;
                //color: red;
                padding: 1.5vh;
                width: 17vw;
            }
        }
    
        .score-body {
            //border: 5px solid orange;
            z-index: -1;
            position: absolute;
            top: 30vh;

            td {
                //border: 3px solid pink;
                //color: green;
                padding: 1.5vh;
                width: 17vw;
                height: 7vh;
            }


            .first {
                color: #FFD700;
            }

            .second {
                color: #C0C0C0;
            }

            .third {
                color: #CD7F32;
            }
        }    
    }

    .bottom-box {
        position: absolute;
        //border: 3px solid yellow;
        background-color: black;
        width: 100vw;
        height: 20vh;
        bottom: 0vh;
    }

    .move-down {
        animation: scroll-down calc(var(--numOfScores) * 0.5s) linear
    }
}

@keyframes scroll-down {
    from {top: calc(var(--numOfScores) * -7vh)}
}

.container.golden-time {
    height: 100vh;

    .title {
        font-size: 6.5em;
        color: #FFD700;

    }

    .golden-timer {
        font-size: 6em;
        padding-top: 15vh;
        padding-bottom: 15vh;
    }

    .subtitle {
        font-size: 2em;
    }
}

.container.game-over {
    height: 100vh;

    .title {
        font-size: 6.5em;
        padding-bottom: 5vh;
    }

    .subtitle {
        font-size: 1.5em;
    }
}



